{% extends "master.html" %}
{% load static %}
{% block body %}
    <!-- meassage Start -->

    <div>
        {% if messages %}   <!-- This if checks the messages is not empty-->
        <ul class="messages">
            {% for message in messages %}
            <li style="color: #3F69AA; list-style:none;">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- meassage End -->

    <!-- Main Slider Start -->
    <div class="home-slider">
        <div class="main-slider">
            <div class="main-slider-item"><img src="{% static 'img/slider-1.jpg' %}" alt="Slider Image" /></div>
            <div class="main-slider-item"><img src="{% static 'img/slider-2.jpg' %}" alt="Slider Image" /></div>
            <div class="main-slider-item"><img src="{% static 'img/slider-3.jpg' %}" alt="Slider Image" /></div>
        </div>
    </div>
    <!-- Main Slider End -->

    <!-- Feature Start-->
    <div class="feature">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-shield"></i>
                        <h2>Trusted Shopping</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-shopping-bag"></i>
                        <h2>Quality Product</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-truck"></i>
                        <h2>Worldwide Delivery</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-phone"></i>
                        <h2>Telephone Support</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End-->

    <!-- Category Start-->
    <div class="category">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="category-img">
                        <img src="{% static 'img/category-1.jpg' %}" />
                        <a class="category-name" href="">
                            <h2>Female</h2>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    {% comment %} <div class="category-img">
                        <img src="{% static 'img/category-3.jpg' %}" />
                        <a class="category-name" href="">
                            <h2>Female Professional-wear</h2>
                        </a>
                    </div> {% endcomment %}
                    <div class="category-img">
                        <img style="height:653px;" src="{% static 'img/category-4.jpeg' %}" />
                        <a class="category-name" href="">
                            <h2>Male</h2>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="category-img">
                        <img src="{% static 'img/category-2.jpg' %}" />
                        <a class="category-name" href="">
                            <h2>Children</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category End-->

    <!-- Featured Product Start -->
    <div class="featured-product">
        <div class="container">
            <div class="section-header">
                <h3>Featured Product</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies.
                    Nullam consequat, mauris non interdum cursus
                </p>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                {% for product in data %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-image">
                                <a href="{{curl}}/product_detail/{{product.slug}}">
                                    <img src="{{curl}}/media/{{product.image}}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="{{curl}}/add_to_cart/{{product.id}}"><i class="fa fa-cart-plus"></i></a>
                                    <a href="{{curl}}/wishlist_items/{{product.id}}"><i class="fa fa-heart"></i></a>
                                    {% comment %} <a href="#"><i class="fa fa-search"></i></a> {% endcomment %}
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="title"><a href="#">{{product.product_name}}</a></div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">${{product.price}} <span>${{product.old_price}}</span></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Featured Product End -->

    <!-- Newsletter Start -->
    <div class="newsletter">
        <div class="container">
            <div class="section-header">
                <h3>Subscribe Our Newsletter</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies.
                    Nullam consequat, mauris non interdum cursus
                </p>
            </div>
            <div class="form">
                <input type="email" value="Your email here">
                <button>Submit</button>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->

    <!-- Recent Product Start -->
    <div class="recent-product">
        <div class="container">
            <div class="section-header">
                <h3>Recent Product</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies.
                    Nullam consequat, mauris non interdum cursus
                </p>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                {% for product in data %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-image">
                                <a href="{{ curl }}/product_detail/{{ product.slug }}">
                                    <img src="{{ curl }}/media/{{ product.image }}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="{{ curl }}/add_to_cart/{{ product.id }}"><i class="fa fa-cart-plus"></i></a>
                                    <a href="{{curl}}/wishlist_items/{{product.id}}"><i class="fa fa-heart"></i></a>
                                    {% comment %} <a href="#"><i class="fa fa-search"></i></a> {% endcomment %}
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="title"><a href="#">{{ product.product_name }}</a></div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">${{ product.price }} <span>${{ product.old_price }}</span></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Recent Product End -->

    <!-- Brand Start -->
    <div class="brand">
        <div class="container">
            <div class="section-header">
                <h3>Our Brands</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies.
                    Nullam consequat, mauris non interdum cursus
                </p>
            </div>
            <div class="brand-slider">
                <div class="brand-item"><img src="{% static 'img/brand-1.png' %}" alt=""></div>
                <div class="brand-item"><img src="{% static 'img/brand-2.png' %}" alt=""></div>
                <div class="brand-item"><img src="{% static 'img/brand-3.png' %}" alt=""></div>
                <div class="brand-item"><img src="{% static 'img/brand-4.png' %}" alt=""></div>
                <div class="brand-item"><img src="{% static 'img/brand-5.png' %}" alt=""></div>
                <div class="brand-item"><img src="{% static 'img/brand-6.png' %}" alt=""></div>
            </div>
        </div>
    </div>
    <!-- Brand End -->
{% endblock %}