{% extends "master.html" %}
{% load static %}
{% block tophead %}
<style>
    .cart-item img {
        transition: transform 0.8s ease-in-out;
    }

    .cart-item img:hover {
        transform: rotate(360deg) scale(0.5);

    }
</style>
<!-- Top Header start -->
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="">
                            <img src="{% static 'img/logo.png' %}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="user">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}</a>
                            <div class="dropdown-menu">
                                <a href="{{curl}}/logout" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header End -->
    {% endblock %}
    
{% block body %}
        <!-- meassage Start -->

        <div>
            {% if messages %}   <!-- This if checks the messages is not empty-->
            <ul class="messages">
                {% for message in messages %}
                <li style="color: green; list-style:none;">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <!-- meassage End -->
    <div class="cart-page">
        <div class="container">
            <div class="row">
                <div class="col-md-14">
                    <div class="table-responsive">
                        <h2 style="margin-top:20px; text-align:center; font-weight:bold;">My Order List</h2>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Order Date</th>
                                    <th >Expected Order Arrival Date</th>
                                    <th>Order ID</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                {% for product in product_list%}
                                <tr class="cart-item">
                                    <td style="font-size:14px;"><img src="{{curl}}/media/{{product.image}}" alt="Image"></td>
                                    <td style="font-size:14px;">{{product.product_name}}</td>
                                    <td style="font-size:14px;">${{product.price}}</td>
                                    <td style="font-size:14px;">{{ product.quantity }}</td>                                    
                                    <td style="font-size:14px;">${{ product.total_item_price }}</td>
                                    <td style="font-size:14px;">{{ product.order_date }}</td>
                                    <td style="color:red;">{{ product.order_arrival_date }}</td>
                                    <td style="font-size:14px;" >{{ product.order_id }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center" >
                                    {% if product_list.has_previous %}
                                        <li class="page-item" >
                                            <a  style="background-color:#3F69AA; font-weight:bold; color:white;"  class="page-link" href="?page={{ product_list.previous_page_number }}">Previous</a>
                                        </li>
                                    {% endif %}
                                    {% for num in product_list.paginator.page_range %}
                                        <li    class="page-item  {% if product_list.number == num %}active{% endif %}" >
                                            <a  style="background-color:#3F69AA; font-weight:bold; color:white;" class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if product_list.has_next %}
                                        <li class="page-item" style="background-color:#3F69AA;">
                                            <a   style="background-color:#3F69AA; font-weight:bold; color:white;"  class="page-link" href="?page={{ product_list.next_page_number }}">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            
        </script>
    </div>

{% endblock %}